
*{
  box-sizing:border-box;
  padding :0;
  margin:0;
  background-color: #d2dbdd;
  text-align: center;
  margin-top: 100px;

}
.but{
  padding:12px 20px;
  color:white;
  cursor:pointer;
  background-color:cadetblue ;
  font-size: 40px;
  border-radius: 10%;
  text-decoration: cadetblue;
  border-width: 3%;
}
